@model IEnumerable<MvcMeals.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

<h1>Schedule Your Meals For The Week</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainDish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideDish1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideDish2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainDish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideDish1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideDish2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}


    </tbody>
</table>
<div>
<img class="img-width" src="~/images/meet-4374468_1920 (1).jpg">
</div>
